@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';


@color-black: rgb(51, 51, 51);
@color-white: rgb(255, 255, 255);

@color-green-01: rgb(0, 100, 0);
@color-green-02: rgb(0, 155, 0);