@import (reference) '../../../styles/Theme.less';

.view-recipe {
    margin-top: 1rem;

    .recipe-title {
        margin-bottom: 1rem;

        h1 {
            margin: 0;
        }
    }

    .recipe-actions {
        width: 100%;

        button.ant-btn {
            width: 100%;
        }

        button.ant-btn.favorite {
            &:hover {
                color: @color-red-03;
                border-color: @color-red-03;
            }

            svg {
                fill: @color-red-03;
            }
        }
    }

    .ingredients {
        ul {
            margin: 0 0 0 2rem;
            padding: 0 0 1.5rem;

            @media (max-width: @breakpoint-mobile) {
                margin-left: 20px;
            }

            li {
                padding: 8px 0;
            }
        }
    }

    .directions {
        ol {
            margin: 0 0 0 2rem;
            padding: 0 0 1.5rem;

            @media (max-width: @breakpoint-mobile) {
                margin-left: 1rem;
            }

            li {
                padding: 0.6rem 0;
                line-height: 1.5;
            }
        }
    }

    .nutrition,
    .basic-info {
        width: 100%;

        strong {
            font-weight: 800;
        }

        .ant-row {
            border: 1px solid @color-grey;
            padding: 0.33rem;

            &.highlighted {
                background-color: @color-grey-01;
            }
        }
    }

    .recipe-image {
        max-width: 100%;
    }

    span.ant-tag {
        padding: 0.4rem 0.8rem;
        font-size: 1rem;
    }
}