.register-page {
    margin: 25px 0;
}

.register-form {
    margin: 25px 0;
}

.register-form label {
    width: 210px;
    font-weight: bold;
    padding-right: 15px;
}

.register-form .action-area {
    margin-left: 210px;
}