@import (reference) '../../../styles/Theme.less';

.nav {
    position: fixed;
    z-index: 1;
    width: 100%;

    .logo {
        color: @color-white;
        font-size: 1.5rem;
        float: left;
        margin-right: 25px;

        a,
        a:hover {
            color: @color-white;
        }
    }

    .ant-menu.nav-bar-menu {
        justify-content: flex-end;
    }

    .ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
        background-color: @color-green-01;
    }
}